body .reveal h2,
body .reveal h3,
body .reveal h4,
body .reveal h5,
body .reveal h6 {
	text-transform: none !important;
}

li {
	margin-top: 0.25em !important;
}

.block {
	display: block;
}

.margin-top {
	margin-top: 1em !important;
}

.smaller {
	font-size: 0.6em !important;
}

.overlay {
	display: inline-block;
	background: rgba(0,0,0,0.6);
	padding: 0.2em !important;
}


.intro .slides {
	width: 100% !important;
	height: 100% !important;
	left: 0.5em !important;
	top: 0em !important;
}
#introSlide {
	text-align: left;
	top: 0 !important;
	left: 0 !important;
}
#introSlide h2 {
	display: block;
	width: 100%;
}
